@model BootstrapModal

<div class="modal modal-blur fade" id="@Model.Id" tabindex="-1" aria-hidden="true" aria-labelledby="@Model.AreaLabeledId">
    <div class="modal-dialog modal-dialog-centered @Model.ModalSizeClass" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>