@model UserAddressDto

<form asp-action="DeleteItem" asp-route-id="@Model.Id" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Delete User Addresses" })
    <div class="modal-body form-horizontal">
        Are you want to delete @Model.Country?
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>