@model RequestDto

@await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Request Detail" })
<div class="modal-body">
    <div class="row mb-3">
        <label asp-for="Description" class="col-lg-3 col-form-label"></label>
        <div class="col-lg-9">
            <span class="form-control">@Model.Description</span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="RequestStatusId" class="col-lg-3 col-form-label"></label>
        <div class="col-lg-9">
            <input type="date" rows="5" asp-for="RequestStatusId" class="form-control" />
            <span asp-validation-for="RequestStatusId" class="text-danger"></span>
        </div>
    </div>
</div>
@await Html.PartialAsync("_ModalFooter", new ModalFooter { OnlyCancelButton = true, CancelButtonText = "Close" })